#Twitter app credentials
consumer_key=‘XXXXX’
consumer_secret='XXXXX'
oauth_token='XXXXX'
oauth_token_secret='XXXXX'

#Message (no use if mention option is not chosen)
mention = 'goodbye!'

#Poll interval
interval_secs = 60

#Redis stuff
host = 'localhost'
port = 6379
db = '0'
